<html lang="en">

<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs') %>

            <div class="content bloglist">
                <h2>Blogs</h2>
                <% if (blogs.length> 0) { %>
                    <% blogs.forEach(blog=> { %>

                        <a href="/blogs/<%=blog._id %>">
                            <h3>
                                <%= blog.title %>
                            </h3>
                            <p class="author">By <%= blog.author %>
                            </p>
                            <p class="snippet">
                                <%= blog.snippet %>
                            </p>
                        </a>

                        <% }) %>
                            <% } else { %>
                                <h3>No blog post to read yet</h3>
                                <p>create a new blog to display blog here...</p>

                                <% } %>

            </div>



            <%- include('../partials/footer.ejs') %>

    </body>

</html>